* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

color {
  color: hsl(231, 69%, 60%);
  color: hsl(0, 94%, 66%);
  color: hsl(229, 8%, 60%);
  color: hsl(229, 31%, 21%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 7rem;
}

.navigation_bar {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav_icon {
  opacity: 0;
}

.nav_bar {
  display: flex;
  gap: 6rem;
  align-items: center;
}

.header_list ul {
  display: flex;
  gap: 2rem;
}

.header_list ul li {
  list-style: none;
}

.header_list ul li a {
  text-decoration: none;
  color: hsla(229, 31%, 21%, 0.764);
  font-size: 0.8rem;
  font-weight: 600;
}
.header_list ul li a:hover {
  color: hsl(0, 94%, 66%);
  transition: all 0.75s ease;
}
.login {
  padding: 0.7rem 2rem;
  background-color: hsl(0, 94%, 66%);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: grab;
  font-weight: bold;
}
.login:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
  transition: all 0.75s ease-in-out;
}

.section_1 {
  display: flex;
  padding-left: 3rem;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 10rem 5rem 5rem;
}

.hero_text h1 {
  font-size: 2.5rem;
}
.hero_text p {
  line-height: 1.5rem;
  font-weight: bold;
  color: hsl(229, 8%, 60%);
}

.hero_text div {
  display: flex;
  gap: 1rem;
}

.button_chrome {
  width: 8rem;
  height: 3rem;
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: cell;
  font-weight: bolder;
}

.button_chrome:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  transition: all 0.75s ease-in-out;
}

.button_firefox {
  width: 8rem;
  height: 3rem;
  background-color: hsl(229, 8%, 60%);
  opacity: 0.5;
  border: none;
  border-radius: 0.3rem;
  color: black;
  cursor: cell;
  font-weight: bolder;
}
.button_firefox:hover {
  background-color: white;
  color: hsl(229, 8%, 60%);
  border: 2px solid hsl(229, 8%, 60%);
  transition: all 0.75s ease-in-out;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 25rem;
}
.features p {
  line-height: 1.5rem;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  color: hsl(229, 8%, 60%);
}

.features h3 {
  color: hsl(233, 10%, 33%);
}

.features span {
  border-bottom: 1px solid;
  width: 15rem;
}

.section_3 {
  display: flex;
  margin-bottom: 5rem;
  padding-left: 3rem;
}

.info {
  width: 5.5rem;
  height: 2.5rem;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0.2rem;
  border: none;
  cursor: grab;
  font-weight: bold;
}

.section_4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.extension {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 26.5rem;
  text-align: center;
}
.extension h1 {
  font-weight: bolder;
  font-size: 1.9rem;
}

.extension p {
  line-height: 1.5rem;
  font-weight: bold;
  color: hsl(229, 8%, 60%);
}

.card_extension {
  display: flex;
  gap: 2rem;
  padding: 0rem 10.5rem;
}

.card_containers {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: hsla(229, 8%, 60%, 0.1);
  padding: 4rem 0 2rem;
  border-radius: 0.5rem;
}

.card_text h1 {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: larger;
}

.card_text p {
  color: hsl(229, 8%, 60%);
}

.card_containers .dots {
  width: 20rem;
  border-bottom: 0.3rem dotted rgb(122, 115, 115);
}

.card_containers button {
  width: 15rem;
  height: 3rem;
  border-radius: 0.8rem;
  border: none;
  background-color: hsl(231, 69%, 60%);
}

.card_containers .rome:hover,
.opera:hover,
.fox:hover {
  border: 2px solid hsl(231, 69%, 60%);
  background-color: white;
}

.card_containers a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.card_containers a:hover {
  color: hsl(231, 69%, 60%);
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  justify-content: center;
  padding: 2rem 20rem;
}

.ques {
  display: flex;
  justify-content: space-between;
}

.questions div {
  display: flex;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}

.questions .line {
  border-bottom: 1px solid;
  width: 45em;
}
.questions p {
  color: hsl(0, 94%, 66%);
  font-weight: 600;
  line-height: 1.6rem;
}

.hidden2 {
  display: none;
  padding: 10rem 0rem;
}

.info2 {
  width: 9rem;
  height: 3.5rem;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0.2rem;
  border: none;
  margin: 0rem 18rem;
  cursor: pointer;
  font-weight: bolder;
}

.info2:hover,
.info:hover {
  background-color: hsl(229, 8%, 60%);
  transition: all 0.75s ease-in;
  color: hsl(231, 69%, 60%);
}
.footer_text {
  display: flex;
  flex-direction: column;
  background-color: hsl(231, 69%, 60%);
  padding: 5rem 0rem;
  color: white;
  text-align: center;
  gap: 1rem;
}
.footer_text p {
  font-weight: bold;
  font-size: 1rem;
  color: hsla(240, 16%, 94%, 0.822);
}

.footer_text h2 {
  padding: 0rem 30rem;
  font-size: 2rem;
  font-weight: 600;
}

form {
  display: flex;
  gap: 1rem;
  padding-left: 22rem;
}

form .email {
  padding: 0.8rem 4rem;
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

form .button {
  padding: 0.8rem 3.8rem;
  background-color: hsl(0, 94%, 66%);
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: bold;
}
form .button:hover {
  background-color: white;
  transition: all 0.65s ease-in;
  color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
}
.footer {
  background-color: hsl(229, 31%, 21%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0rem;
}
.footer .logo {
  background-color: white;
}

.footer .list ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.list ul li a {
  text-decoration: none;
  color: hsl(229, 8%, 60%);
}
.list ul li a:hover {
  color: hsl(0, 94%, 66%);
  transition: all 0.75s ease;
}

.footer_icon {
  display: flex;
  gap: 1.5rem;
}

@media only screen and (max-width: 770px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  color {
    color: hsl(231, 69%, 60%);
    color: hsl(0, 94%, 66%);
    color: hsl(229, 8%, 60%);
    color: hsl(229, 31%, 21%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navigation_bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    opacity: 0.9;
    background-color: hsl(229, 8%, 60%);
    margin-left: 0.5rem;
    padding: 2.5rem 0rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 7.5rem;
  }

  .hidden {
    display: none;
  }

  .nav_bar_mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav_bar_mobile ul li a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-weight: 700;
    font-size: 15px;
  }

  .nav_bar_mobile ul li a:hover {
    color: hsl(260, 8%, 14%);
    transition: all 0.75s ease;
  }

  .nav_login_mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .nav_login_mobile button {
    padding: 0.6rem 3rem;
    border: 1px solid white;
    background-color: hsl(260, 9%, 32%);
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  hr {
    width: 20rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  nav button {
    border: none;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  .nav_icon {
    opacity: 1;
  }

  .hide_list,
  .hide_login {
    display: none;
  }

  .section_1 {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
  }

  .hero_logo img {
    width: 20rem;
    padding-top: 2rem;
  }
  .hero_logo1 img {
    width: 20rem;
    padding-top: 2rem;
  }

  .hero_text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.8rem;
    text-align: center;
  }

  .hero div {
    display: flex;
    justify-content: space-between;
  }

  .button_chrome {
    width: 8rem;
    height: 3rem;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 0.3rem;
    color: white;
  }

  .button_firefox {
    width: 8rem;
    height: 3rem;
    background-color: hsl(229, 8%, 60%);
    opacity: 0.5;
    border: none;
    border-radius: 0.3rem;
    color: black;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 2rem 1.8rem;
  }

  .features span {
    border-bottom: 1px solid;
    width: 15rem;
  }

  .section_3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .info {
    margin-left: 5rem;
    width: 5.5rem;
    height: 2.5rem;
    color: white;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0.2rem;
    border: none;
  }

  .section_4 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .extension {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.8rem;
    text-align: center;
  }

  .card_extension {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  .card_containers {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: hsla(229, 8%, 60%, 0.1);
    padding: 4rem 0 2rem;
    border-radius: 0.5rem;
  }

  .card_text h1 {
    padding-bottom: 0.5rem;
  }

  .card_containers .dots {
    width: 20rem;
    border-bottom: 0.3rem dotted rgb(122, 115, 115);
  }

  .card_containers button {
    width: 15rem;
    height: 3rem;
    border-radius: 0.8rem;
    border: none;
    background-color: hsl(231, 69%, 60%);
  }

  .card_containers a {
    text-decoration: none;
    color: white;
  }

  .section_5 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.8rem;
  }

  .questions div {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .questions .line {
    border-bottom: 1px solid;
    width: 19.2rem;
  }

  .hidden2 {
    display: none;
  }

  .info2 {
    width: 6.5rem;
    height: 4rem;
    color: white;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0.2rem;
    border: none;
  }
  .section_6 {
    display: flex;
    flex-direction: column;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    background-color: hsl(231, 69%, 60%);
    padding: 3rem 1rem;
    color: white;
    align-items: center;
    gap: 1.5rem;
  }

  .footer_text h2 {
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0rem;
  }

  form .email {
    width: fit-content;
    height: 1rem;
    border: 2px solid hsl(0, 94%, 66%);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
  }

  form.button {
    width: fit-content;
    height: 1rem;
    background-color: hsl(0, 94%, 66%);
    border-radius: 0.5rem;
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
  }
  .button:hover {
    background-color: white;
    transition: all 0.65s ease-in;
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
  }

  .footer {
    background-color: hsl(229, 31%, 21%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem 0rem;
  }
  .footer .logo {
    background-color: white;
  }

  .footer .list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  .list ul li a {
    text-decoration: none;
    color: white;
  }

  .footer_icon {
    display: flex;
    gap: 1.5rem;
  }
}
